<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Fa# Sostenido Orchestra 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">


 <h1>TEMAS</h1>

 <ion-button color="primary">Vistiendome Acorde</ion-button>
 <ion-button color="primary">Afeitandome las Cejillas</ion-button>
 <ion-button color="primary">ReLaMiDo por los Perros</ion-button>
 <ion-button color="primary">Rascandome el Traste</ion-button>
 <ion-button color="primary">Sonata Di Napio</ion-button>
 <ion-button color="primary">No te vayas a ReFaLa</ion-button>
 <ion-button color="primary">Afinando la Curda</ion-button>
 <ion-button color="primary">Mozart, una de fuga y la cuenta</ion-button>
 <ion-button color="primary">Anotaselo a Paganinni</ion-button>


 

</ion-content>
